body {
    margin: 0;
    padding: 0;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

#cesiumContainer {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1000;
}

.cesium-widget-credits {
    display:none !important;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font: 14px sans-serif;
    border: 1px solid white;
}

table th, td {
    text-align: center;
    vertical-align: middle;
}

tr, th {
    padding: 4px;
    border-bottom: 1px solid white;
}

tr:last-child {
    border: none;
}

#logic-links-infobox {
    position: fixed;
    color: white;
    font: 14px sans-serif;
    padding: 4px;
    z-index: 1000;
    top: 200px;
    left: 10px;
    background: rgba(255, 255, 255, 0.1);
    width: 25%;
    height: 25%;
    border: 1px solid white;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
}

#logic-links-infobox-header {
    font: 18px sans-serif;
    color: white;
    width: 100%;
    text-align: center;
}

#logic-links-infobox-body {
    width: 100%;
    color: white;
    font: 14px sans-serif;
    text-align: center;
}

#logic-links-infobox-member-header {
    font: 18px sans-serif;
    color: white;
    width: 100%;
    text-align: center;
}

.logic-links-infobox-member-expand {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.logic-links-infobox-member-expand:hover {
    background: rgba(255, 255, 255, 0.3);
}

#logic-links-asn-summary {
    position: absolute;
    color: white;
    font: 14px sans-serif;
    margin: auto;
    padding: 4px;
    z-index: 1000;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(255, 255, 255, 0.1);
    width: 52%;
    height: 25%;
    overflow-y: auto;
    border: 1px solid white;
    border-radius: 5px;
}

#logic-links-asn-summary-header {
    font: 18px sans-serif;
    color: white;
    width: 100%;
    text-align: center;
}

#servloc-infobox {
    position: fixed;
    color: white;
    font: 14px sans-serif;
    padding: 4px;
    z-index: 1000;
    top: 200px;
    right: 10px;
    background: rgba(255, 255, 255, 0.1);
    width: 25%;
    height: 25%;
    border: 1px solid white;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
}

#servloc-infobox-header {
    font: 18px sans-serif;
    color: white;
    width: 100%;
    text-align: center;
}

#servloc-infobox-body {
    width: 100%;
    color: white;
    font: 14px sans-serif;
    text-align: center;
}

#servloc-infobox-member-header {
    font: 18px sans-serif;
    color: white;
    width: 100%;
    text-align: center;
}

.servloc-infobox-member-expand {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.servloc-infobox-member-expand:hover {
    background: rgba(255, 255, 255, 0.3);
}

#tipbox {
    position:absolute;
    color: white;
    font: 14px sans-serif;
    width: 150px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    visibility: hidden;
}

.NavigationBar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 50px;
    color: white;
    text-align: left;
    z-index: 1000;
}

.NavigationBar h1 {
    margin: 0px;
    padding: 10px;
}

.search-container {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    z-index: 1000;
    
}

#search-input {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 150px;
    height: 30px;
    color: black;
    font: 14px sans-serif;
}

#search-button {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.select-logic-links {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 223px;
    height: 30px;
    color: white;
    z-index: 1000;
    border: 1px solid white;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

#select-logic-links {
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.1);
    border: none;
}

select option {
    color: white;
    background: rgba(0, 0, 0, 0.1);
}


/* .search-container.active #search-input {
    width: 200px;
    opacity: 1;
} */