<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <!-- Include the CesiumJS JavaScript and CSS files -->
  <script src="https://cesium.com/downloads/cesiumjs/releases/1.124/Build/Cesium/Cesium.js"></script>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.124/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="cesiumContainer"></div>
  <div id="loadingOverlay"><h1>Loading...</h1></div>
  <div class="selectMode">
    <ul>
      <li id="tab-logic-links" class="onSelect">互联态势</li>
      <li id="tab-servloc">服务设施</li>
    </ul>
  </div>
  <div id="servloc-display" style="visibility: hidden;">
    <div id="servloc-infobox">
      <div id="servloc-infobox-header">
        <span id="servloc-infobox-close">X</span>
        <h2>AS服务点位</h2>
      </div>
      <div id="servloc-infobox-content">
        <table>
          <thead>
            <tr>
              <th width="20%">ASN</th>
              <th width="10%"></th>
              <th width="10%">国家</th>
              <th width="30%">纬度</th>
              <th width="30%">经度</th>
            </tr>
          </thead>
          <tbody id="servloc-infobox-body">
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div id="toolbar">
      <table>
        <tbody>
          <tr>
            <td>Pixel Range</td>
            <td>
              <input type="range" min="1" max="200" step="1" data-bind="value: pixelRange, valueUpdate: 'input'">
              <input type="text" size="2" data-bind="value: pixelRange">
            </td>
          </tr>
          <tr>
            <td>Minimum Cluster Size</td>
            <td>
              <input type="range" min="2" max="20" step="1" data-bind="value: minimumClusterSize, valueUpdate: 'input'">
              <input type="text" size="2" data-bind="value: minimumClusterSize">
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <div id="country-summary">
      <table>
        <caption>拥有最多服务点位的国家/地区</caption>
        <thead>
          <tr>
            <th width="10%">序号</th>
            <th width="10%"></th>
            <th width="20%">国家</th>
            <th width="60%">服务点位数量</th>
          </tr>
        <tbody id="country-summary-body">
        </tbody>
      </table>
    </div>
    <div id="asn-summary">
      <table>
        <caption>拥有最多服务点位的自治系统</caption>
        <thead>
          <tr>
            <th width="10%">序号</th>
            <th width="10%">ASN</th>
            <th width="20%">Name</th>
            <th width="20%">机构</th>
            <th width="10%"></th>
            <th width="10%">所属国家</th>
            <th width="20%">服务点位数量</th>
          </tr>
        <tbody id="asn-summary-body">
        </tbody>
      </table>
    </div>
  </div>
  
  <script src="/js/main.js"></script>
</body>
</html>