<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <!-- Include the CesiumJS JavaScript and CSS files -->
  <script src="https://cesium.com/downloads/cesiumjs/releases/1.124/Build/Cesium/Cesium.js"></script>
  <script src="/js/jquery-3.7.1.min.js"></script>
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.124/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="NavigationBar">
    <h1>域间路由互联态势感知</h1>
  </div>
  <div id="cesiumContainer"></div>
  <div id="loadingOverlay"><h1>Loading...</h1></div>
  <script src="/js/main.js"></script>
</body>
</html>